<h1>.NET Day CH 2018 Demo</h1>

<p>This demo has been written for the Talk &quot;Real Cross-Platform in Action: Angular, Progressive Web Apps, Electron & Cordova &quot;.</p>

<dl>
    <dt>GitHub Repository</dt>
    <dd><a href="https://github.com/thinktecture/dotnet-day-ch-2018-angular-demo">thinktecture/dotnet-day-ch-2018-angular-demo</a></dd>
    <dt>Author</dt>
    <dd>Manuel Rauber (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</dd>
    <dt>Slides</dt>
    <dd><a href="https://speakerdeck.com/manuelrauber/echte-cross-plattform-anwendungen-mit-angular-cordova-und-electron-volle-power-im-frontend">Speakerdeck</a></dd>
</dl>
